
<button (click)="getTasksFromService()">Detalle</button>

<div>
  <h2>el primer metodo</h2>
  <table *ngIf="listaTareas">
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Completed</td>
    </tr>
    <tr *ngFor="let info of tasks">
      <td>{{info.title}}</td>
      <td>{{info.description}}</td>
      <td>{{info.completed}}</td>
      <td><button (click)="getTasksById(info._id)">Detalle</button></td>
    </tr>
  </table>

</div>

<div *ngIf="soloUno">
  <br><br><br><br>
  <h2>el segundo metodo</h2>
  <table>
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Completed</td>
    </tr>
    <tr>
      <td>{{tasks2.title}}</td>
      <td>{{tasks2.description}}</td>
      <td>{{tasks2.completed}}</td>
    </tr>
  </table>
</div>